body
{
    margin: 0;
}


/*  Layout */

.container
{
    background-color: #f8f8f8;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list 
{
    display: flex;
    align-items: center;
    padding: 0;
}

.nav-list-items
{

    list-style: none;
    margin-left: 2em;

}

.nav-link
{
    text-decoration: none;
    color: #707070;


}

nav a:hover,a:focus
{
    color: #143774;
}

/* Typography */

h1
{
    margin-bottom: 0;
    font-size: 3.375rem;
    font-weight: 400;
}
.subtitle
{
    margin-top:0;
    font-size: 1rem;
    color: #1792d2;
}




/*  Smaller Screen */

@media (max-width:850px)
{
    .container
    {
        flex-direction: column;
    }

    nav ul
    {
        flex-direction: column;
        align-items: center;
    }
    nav li
    {
        margin: 1em 0;
    }
}